<center><h1>Promotion System</h1>
<h3>Boas vindas ao sistema de gestão de promoções</h3>

<div>
<%= form_with url: "/search", method: :get do |form| %>
  <%= form.text_field :query %>
  <%= form.submit "Buscar promoção" %>
<% end %>
</div>

<h3> <%= link_to 'Promoções', promotions_path %> </h3>
<h3> <%= link_to 'Registrar uma promoção', new_promotion_path %> </h3>
<h3> <%= link_to 'Categorias de produto', product_categories_path %> </h3>
</center>

