
<center>
<h1>Promoções</h1>


<% if @promotions.count < 1 %>
<div class="warning"> 'Nenhuma promoção cadastrada' </div>
<% else %>
        
        <table><th>Nome</th> <th>Descrição</th> <th>Porcentagem</th>
        <% @promotions.each do  |promotion| %> 
        <tr> 
        <td><%= link_to promotion.name, promotion_path(promotion) %></td>
        <td><%= promotion.description %></td>
        <td><%= number_to_percentage promotion.discount_rate, precision:2, separator:',' %></td>
        </tr>
        <% end %>
        </table>

<% end %>

<h3> <%= link_to 'Registrar uma promoção', new_promotion_path %> </h3>
<p> <%= link_to 'Voltar', root_path %>
</center>