
<center>
<h1>Promoções</h1>

<div id="promotion_search">
<h3>Buscar promoção:</h3>
<%= form_tag promotions_path, method: :get do |f| %>
  <%= label_tag :search, "Buscar por nome" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Buscar promoção", :name => nil) %>
<% end %>
</div>

<% if @promotions.count == 0 %>
<div class="warning"> 'Nenhuma promoção cadastrada' </div>
<% else %>
        <div>
        <% @promotions.each do  |promotion| %> 
        <h3>Nome: <%= link_to promotion.name, promotion_path(promotion) %></h3>
        <h4>Descrição: <%= promotion.description %></h4>
        <h4>Porcentagem: <%= number_to_percentage promotion.discount_rate, precision:2, separator:',' %></h4>
        <% end %>
        </div>

<% end %>

<div id="coupon_search">
<h3>Buscar Cupom:</h3>
<%= form_tag(coupon_search_path(:code), method: :get) do |f| %>
  <%= label_tag :code, "Código" %>
  <%= text_field_tag :code, params[:code] %>
  <%= submit_tag "Buscar cupom" %>
<% end %>
</div>

<h3> <%= link_to 'Registrar uma promoção', new_promotion_path %> </h3>
<p> <%= link_to 'Voltar', root_path %>
</center>