<center>

<h1>Detalhes da Promoção</h1>

<% if flash[:notice] %>
<div><%= flash[:notice]%></div>
<% end %>
<span>Cadastrada por <%= @promotion.user.email %></span>

<dt>Nome</dt>
<dd><%= @promotion.name %></dd>
<dt>Descrição</dt>
<dd><%= @promotion.description %></dd>
<dt>Código</dt>
<dd><%= @promotion.code %></dd>
<dt>Desconto</dt>
<dd><%= number_to_percentage @promotion.discount_rate, precision:2, separator:',' %></dd>
<dt>Quantidade de cupons</dt>
<dd><%= @promotion.coupon_quantity %></dd>
<dt>Data de término</dt>
<dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>


<p><%= link_to 'Voltar', promotions_path %>
<p><%= link_to 'Editar promoção', edit_promotion_path %>
<p><%= button_to 'Apagar promoção', @promotion, :method => :delete %>


<% if @promotion.coupons.size == 0 %>
<p><%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

<% if @promotion.coupons? %>
<div>
<h3>Cupons:</h3>
<p>
<% @promotion.coupons.each do |coupon| %>
    
    <%= coupon.code %> (<%= t(".#{coupon.status}") %>)
   
    <% if coupon.active?  %>
    <%= link_to 'Inativar cupom', inactivate_coupon_path(coupon), method: :post %>
    <% end %>
    <br>

<% end %>

</div>
<% end %>
</center>