<center>

<h1>Detalhes da Promoção</h1>

<% if flash[:notice] %>
<div><%= flash[:notice]%></div>
<% end %>
<p>Cadastrada por <%= @promotion.user.email %></p>
  <% if @promotion.approved? %>
<p> Aprovada por <%= @promotion.approver.email %> </p>
  <% end %> 

<div>

<dt>Nome</dt>
<dd><%= @promotion.name %></dd>
<dt>Descrição</dt>
<dd><%= @promotion.description %></dd>
<dt>Código</dt>
<dd><%= @promotion.code %></dd>
<dt>Desconto</dt>
<dd><%= number_to_percentage @promotion.discount_rate, precision:2, separator:',' %></dd>
<dt>Quantidade de cupons</dt>
<dd><%= @promotion.coupon_quantity %></dd>
<dt>Data de término</dt>
<dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>
<dt>Categoria(s) de produto</dt>
<dd><% @promotion.product_categories.each do |pc| %>
<%= pc.name %>
<% end %></dd>

</div>

<div>
<% unless @promotion.approved? %>
<% if current_user != @promotion.user %>
<%= link_to 'Aprovar Promoção', approve_promotion_path, method: :post %>
<% end %> 
<% end %>
<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<%= link_to 'Apagar promoção', @promotion, method: :delete %>
<%= link_to 'Voltar', promotions_path %>
<% if @promotion.approved? && @promotion.coupons.size == 0 %>
<p><%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

</div>

<% if @promotion.coupons? %>
<div>
<h3>Cupons:</h3>
<p>
<% @promotion.coupons.each do |coupon| %>
    
    <%= coupon.code %> (<%= t(".#{coupon.status}") %>)
   
    <% if coupon.active?  %>
    <%= link_to 'Inativar cupom', inactivate_coupon_path(coupon), method: :post %>
    <% else %>
    <%= link_to 'Ativar cupom novamente', activate_coupon_path(coupon), method: :post %>
    <% end %>
    <br>

<% end %>
</div>
<% end %>
</center>