<% if flash[:notice].present? %>
<div class="warning"><%= flash[:notice]%></div>
<% end %>

<dt>Nome</dt>
<dd><%= @promotion.name %></dd>
<dt>Descrição</dt>
<dd><%= @promotion.description %></dd>
<dt>Código</dt>
<dd><%= @promotion.code %></dd>
<dt>Desconto</dt>
<dd><%= number_to_percentage @promotion.discount_rate, precision:2, separator:',' %></dd>
<dt>Quantidade de cupons</dt>
<dd><%= @promotion.coupon_quantity %></dd>
<dt>Data de término</dt>
<dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>
<p><%= link_to 'Voltar', promotions_path %>
<p> <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %> </p>
<p><%= link_to 'Editar promoção', edit_promotion_path %>
<p><%= button_to 'Apagar promoção', @promotion, :method => :delete %>


<% @promotion.coupons.each do |coupon| %>
<p><%= coupon.code %>
<%end%>