<center>

<h1>Detalhes da Promoção</h1>

<% if flash[:notice] %>
<div><%= flash[:notice]%></div>
<% end %>
<p>Cadastrada por <%= @promotion.user.email %></p>
  <% if @promotion.approved? %>
<p> Aprovada por <%= @promotion.approver.email %> </p>
  <% else %>
<p> Esta promoção ainda não foi aprovada</p>  
  <% end %> 

<div>

<dt>Nome</dt>
<dd><%= @promotion.name %></dd>
<dt>Descrição</dt>
<dd><%= @promotion.description %></dd>
<dt>Código</dt>
<dd><%= @promotion.code %></dd>
<dt>Desconto</dt>
<dd><%= number_to_percentage @promotion.discount_rate, precision:2, separator:',' %></dd>
<dt>Quantidade de cupons</dt>
<dd><%= @promotion.coupon_quantity %></dd>
<dt>Data de término</dt>
<dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>
<dt>Categoria(s) de produto</dt>
<dd><% @promotion.product_categories.each do |pc| %>
<%= pc.name %>
<% end %></dd>

</div>

<div>

<% unless @promotion.approved? %>
  <% if current_user != @promotion.user %>
    <%= link_to 'Aprovar Promoção', approve_promotion_path, method: :post %>
  <% end %> 
<% end %>

<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<%= link_to 'Apagar promoção', @promotion, method: :delete %>
<%= link_to 'Voltar', promotions_path %>
<% if @promotion.approved? && @promotion.coupons.size == 0 %>
<p><%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>

<% unless @promotion.coupons? %>
<p>Esta promoção ainda não tem cupons</p>
<% end %>

</div>

<% if @promotion.coupons? %>

<div>
<h3>Cupons:</h3>
<% @promotion.coupons.each do |coupon| %>
<%= link_to coupon.code, coupon_path(coupon.id) %> (<%= t(".#{coupon.status}") %>)
<% end %>
</div>

<% end %>
</center>